html{
    width: 100vw;
    height: 100vh;
    position: relative;
}


.overlay{
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    left: 5vw;
    top:25vh;
    border: 3px rgb(8, 255, 0) outset;
    background-color: rgb(0, 255, 13);
    border-radius: 0.7cm;

}

.winnerScreen{
    position: absolute;
    left: 25vw;
    top:25vh;
    height: 50vh;
    width: 50vw;
    border: 3px black outset;
    background-color: white;
    border-radius: 0.7cm;
    text-align: center;
    visibility: hidden;
}


.div{
    display: inline-block;
}

.grid4{

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    position: relative;


}

.grid4:hover:before{
    box-sizing : border-box;
    position: absolute;
    top : -45px;
    left: 0.9vw;
    content: " ";
    border-style: solid;
    border-width: 5vh;


    border-color: red transparent transparent transparent ;

}



.case4{
    margin: 1vh 1vw;
    border: 5px #00ff15 inset;
    border-radius: 2cm ;
    cursor: pointer;
    height: 8vh;
    width: 8vh;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.5px 0.5px, rgb(51, 51, 51) 0px 0px 0px 1px;
}

.case4white{
    background-color: white;
}
.case4red{
    background-color: red;
}

h1 {
    position: relative;
    color: brown;
}


.case4yellow{
    background-color: yellow;
}


.couleur{
    border:solid;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}


.couleurRed{
    background: #ff0015;
}
.couleurYellow{
    background: #FFFF00FF;
}



.table-aff{
    border: 3px solid;
    border-color: #00ff15;
    position: relative;
    right: -7vw;
    top:25vh;
    height: 24vh;
    padding: 5px;
    text-align: center;


}

.screen{
    display: flex;

}





